$primary: #2caeba;
$secondary: #102a42;
$dark: #191a1d;
$warning: #e9b949;
$body-bg: #f1f5f8;
$body-color: #101114;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './styles';

// imports the required scss files
// sass compiler compiles the main.scss in a css file in css folder -> css/main.css
